* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    min-height: 100vh;
}